<h2>ISBN <%= @isbn %></h2>

<% unless @bookinfo.nil? %>
  <div>
    Book: <%= @bookinfo[:title] %> <br />
    By: <%= @bookinfo[:authors_as_string] %> <br />
    Publisher: <%= @bookinfo[:publisher] %>
  </div>
  <% unless @bookinfo[:rating].nil? %>
    <div>
      <%= @bookinfo[:rating] %> out of 5
    </div>
  <% end %>
<% end %>

<h2>Prices</h2>
<div class="stores">
  <table>
    <% @stores.each do |store, data| %>
      <tr>
        <td>
          <a href="<%= data[:url] %>"><%= store %></a>
        </td>
        <td>
          <% unless data[:price] == @not_available %>
            Rs. <%= data[:price] %>
          <% else %>
            not available
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
