
<%= content_for :js do %>
  var isbn = "<%= @isbn %>";
<% end %>

<% unless @bookinfo.nil? %>
  <% content_for :title do %>Search for the best prices in India for the book <%= @bookinfo[:title] %> by <%= @bookinfo[:authors_as_string] %><% end %>

<% content_for :header do %>
<h2>ISBN <%= @isbn %></h2>

<table class="book_attributes">
  <tr>
    <td>Book:</td>
    <td class="big"><%= @bookinfo[:title] %></td>
  </tr>
  <tr>
    <td>By:</td>
    <td class="big"><%= @bookinfo[:authors_as_string] %></td>
  </tr>
  <tr>
    <td>Publisher:</td>
    <td class="big"><%= @bookinfo[:publisher] %></td>
  </tr>
</table>
<% end %>

  <% unless @bookinfo[:rating].nil? %>
    <div>
      Average Customer Rating at <a href="<%= @bookinfo[:detail_page] %>"><%= @bookinfo[:info_source].capitalize %></a> : <%= @bookinfo[:rating] %> out of 5
    </div>
  <% end %>
  <% unless @bookinfo[:image].nil? %>
    <a href="<%= @bookinfo[:detail_page] %>"><img src="<%= @bookinfo[:image] %>" alt="<%= @bookinfo[:title] %>" /></a>
  <% end %>
  <% unless @bookinfo[:review_source].nil? %>
    <div id="editorial_review">
      <h3><%= @bookinfo[:review_source] %></h3>
      <%= @bookinfo[:review_content].html_safe %>
    </div>
  <% end %>

  <h2>Where to Buy</h2>
  <% unless @stores.nil? %>
    <div class="stores">
      <p>(Sorted by price)</p>
      <table>
        <% @stores.each do |store, data| %>
          <tr>
            <td>
              <a rel="nofollow" href="<%= data[:url] %>"><%= store %></a>
            </td>
            <td>
              <% unless data[:price] == @not_available %>
                <span style="font-family:rupee">R</span> <%= data[:price] %>
              <% else %>
                not available
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <br />
      <p>
      <strong>Note</strong>: "not available" can mean two things - (1) the book is not available on that website, OR (2) the website took too long to tell us the price, so we moved on to getting the price from the next website - after all, we <em>are</em> searching <%= @stores.size %> websites!
      </p>
    </div>
  <% else %>
    <p>
    <strong>Fetching prices from <%= @prices.number_of_stores %> online stores... please be patient!</strong> (This page will be automatically refreshed, please do NOT manually refresh)
    </p>
    <% content_for :js do %>
      $( function() {
      setTimeout("location.reload(true)", 60 * 1000);
      });
    <% end %>
  <% end %>

  <h2>Reviews</h2>
  <div class="goodreads">
    <script type="text/javascript" charset="utf-8" src="http://www.goodreads.com/api/reviews_widget?did=DEVELOPER_ID&isbn=<%= @isbn %>&min_length=100&num_reviews=10"></script>
  </div>

  <% unless @bookseer.nil? %>
    <h2>What to read next?</h2>
    <a rel="nofollow" href="<%= @bookseer %>">Consult the Bookseer</a>
  <% end %>

<% else %><%# @bookinfo is nil %>
  <p>
  <em>Cannot find any details about this book. Are you sure there is such a book?</em>
  </p>
<% end %>
