<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <title>isbn.net.in: <%= yield(:title) %></title>

  <meta name="description" content="<%= yield(:description) %>" />
  <meta name="author" content="<%= yield(:author) %>" />

  <!-- CSS -->
  <%= stylesheet_link_tag "main", "960", "rupee", "site", :cache => true %>
  <%= stylesheet_link_tag "mobile", :media => "only screen and (max-device-width: 480px)" %>
  <style>
    <%= yield(:css) %>
  </style>

  <!-- JavaScript -->
  <!--[if IE]><![endif]-->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "respond.min.js", :cache => true %>
  <%= javascript_include_tag :defaults %>
</head>

<body>

  <div id="container" class="container_12">
    <header class="grid_12">
      <%= yield(:header) %>
    </header>
    <div class="clear"></div>
    <div id="main" role="main" class="grid_12">
      <%= yield %>
    </div>
    <div class="clear"></div>
    <footer class="prefix_3 grid_6 suffix_3">
      <p>
      <a href="/">Home</a>
      &nbsp;
      |
      &nbsp;
      Copyright &copy; 2010-<%= Time.zone.now.strftime("%Y") %> <a href="http://www.swaroopch.com">Swaroop C H</a>
      </p>
      <%= yield(:footer) %>
    </footer>
  </div> <!--! end of #container -->

  <script>
  <%= yield(:js) %>
  </script>

  <!-- Google Analytics -->
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= configatron.google_analytics_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
