<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>isbn.net.in: <%= yield(:title) %></title>

  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag :all %>
  <style>
    <%= yield(:css) %>
  </style>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>

  <div id="container" class="container_12">
    <header class="grid_12">
      <%= yield(:header) %>
    </header>
    <div class="clear"></div>
    <div id="main" role="main" class="grid_12">
      <%= yield %>
    </div>
    <div class="clear"></div>
    <footer class="prefix_4 grid_4 suffix_4">
      <p>
        Copyright &copy; 2010-<%= Time.zone.now.strftime("%Y") %> <a href="http://www.swaroopch.com">Swaroop C H</a>
      </p>
      <%= yield(:footer) %>
    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= configatron.google_analytics_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script>
  <%= yield(:js) %>
  </script>
</body>
</html>
