<!DOCTYPE html>
<html>
<head>
  <title>isbn.net.in: <%= yield(:title) || "Search for the best book prices in India" %></title>
  <%= stylesheet_link_tag :all %>
  <style>
    <%= yield(:css) %>
  </style>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<script>
<%= yield(:js) %>
</script>
</body>
</html>
